* {
    font-family: Georgia, Times, "Times New Roman", serif;
}

.quiz, .scores {
    margin: 100px auto 0 auto;
    max-width: 400px;
}

p {
    margin: 15px 15px;
}

/**/

.landing {
    text-align: center;
}

.scoresHeader {
    position: absolute;
    top: 15px;
    left: 15px;
}

.timer {
    position: absolute;
    top: 15px;
    right: 15px;
}

button {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    color: #fff;
    background-color: #515052;
    border-radius: 5px;
    border: 0;
    padding: 20px;
}

button:hover {
    background-color: #9e99a1;
}

.options button {
    display: block;
}
